<%- include('../../partials/header') %>
<%- include('../../partials/navbar') %>

<div class="container">
	<div class="card">
		<div class="card-header">
			<h2>Listagem de Artigos</h2>
			<a href="/admin/articles/new" class="btn btn-primary">Novo Artigo</a>
		</div>
		<div class="card-body">
			<table class="table table-bordered table-striped">
				<thead>
					<tr>
						<th width="5%" class="text-center">ID</th>
						<th>Artigo</th>
						<th>Slug</th>
						<th>Categoria</th>
						<th width="15%" class="text-center">Ações</th>
					</tr>
				</thead>
				<tbody>
					<% result.articles.rows.forEach(article => { %>
						<tr>
							<td class="text-center"><%= article.id %></td>
							<td><%= article.title %></td>
							<td><%= article.slug %></td>
							<td><%= article.category.title %></td>
							<td class="text-center">
								<a href="/admin/articles/edit/<%= article.id %>" class="btn btn-sm btn-warning">Editar</a>
								<a href="/admin/articles/delete/<%= article.id %>" class="btn btn-sm btn-danger confirmDelete">Deletar</a>
							</td>
						</tr>
					<% }) %>
				</tbody>
			</table>
		</div>
		<div class="card-footer">
			<div class="row">
				<div class="col-12">
					<% if (result.page > 1) { %>
						<a href="/admin/articles/<%= result.page - 1 %>"><-- Previus</a>
					<% } %>
					<% if (result.next) { %>
						<a href="/admin/articles/<%= result.page + 1 %>">Next --></a>
					<% } %>
				</div>
			</div>
		</div>
	</div>
</div>

<%- include('../../partials/footer') %>