<%- include('../../partials/header') %>
<%- include('../../partials/navbar') %>

<div class="container">
	<form action="/admin/categories/update/<%= category.id %>" method="post">
		<div class="card">
			<div class="card-header">
				<h2>Edição da Categoria: <%= category.title %></h2>
			</div>
			<div class="card-body">
				<div class="mb-3">
					<label for="title">Título da Categoria</label>
					<input type="text" name="title" id="title" class="form-control" value="<%= category.title %>">
				</div>
			</div>
			<div class="card-footer">
				<button type="submit" class="btn btn-success">Salvar</button>
			</div>
		</div>
	</form>
</div>

<%- include('../../partials/footer') %>